.hotelForm {
  &__inputCon {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__btnCon {
    margin-top: 3rem;
    @include flex-center;
  }
}

@media screen and (min-width: 700px) {
  .hotelForm {
    &__inputCon {
      grid-template-columns: 1fr 1fr;
      column-gap: 2rem;
    }
  }
}
