.home {
  &__header {
    // @include flex-center-space;
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
}

@media screen and (min-width: 500px) {
  .home {
    &__header {
      @include flex-center-space;
      flex-direction: row;
    }
  }
}
